.about {
        
    background: rgb(241, 241, 241);
    z-index: 200;
    position: relative;
    padding: 40px 0;
    
    
    margin-bottom: -100%; // pushes editing area up
    
    display: none;
    &.active {
        display: block;
    }
    
    
    .container {
        width: 850px;
        margin: 0 auto;
    }
    
    h1 {
        font-size: 50px;
        text-align: center;
        margin-bottom: 20px;
        font-weight: 500;
        
        color: $accent;
    }
    
    p.lead {
        font-size: 20px;
        font-weight: 300;
        text-align: center;
        margin: 0 auto;
        display: block;
        line-height: 32px;
    }
                
    ul {
        text-align: center;
        margin: 2em 0 0 0;
    }
    
    li {
        width: 27%;
        display: inline-block;
        vertical-align: top;
        font-size: 16px;
        height: 6em;
        line-height: 20px;
        text-align: center;
        padding: 0 3%;     
        
        strong {
            font-weight: 500; ;
            color: $accent;
            
        }
    }
    
    a {
        color: inherit;
        &:hover {
            color: #777;
        };
    }
    
    .credits {
        text-align: center;
        margin-top: 80px;
        
        .twitter {
            display: inline-block;
            background: #777;
            padding: 5px;
            border-radius: 5px;
            text-decoration: none;
            color: white;
            font-size: 12px;
            margin-right: 10px;
            
            &:hover{
                background: darken(#777, 10%);
            };
        }
        p {
            font-size: 14px;
            margin-top: 10px;
        }
    }
    
    .close {
        display: block;
        background: $accent;
        padding: 0.7em 1em;
        border-radius: 5px;
        color: white;
        margin: 0 auto;
        width: 11em;
        text-align: center;
        cursor: pointer;
        
        &:hover {
            background: darken($accent, 10%);
        }
    }
    
    
}


@media (max-width: 850px) {
    .about {    
        h1 {
            font-size: 35px;
        
        }
        p.lead {
            font-size: 18px;
            font-weight: 400;
            line-height: 24px; 
        }
        .container {
            width: 100%;
        }
        ul {
            margin: 2em 0; 
        }
        li {
            width: auto;
            padding: 3px 10%; 
            padding-bottom: 5px;
            text-align: left;
            display: block;
            height: auto;        
        }    
    }    
}

