
/* custom player */

.audiojs {
    font-family: inherit;
    box-shadow: none;
    -webkit-box-shadow: none;
    background: $dark;
    display: inline-block;
    width: auto;
    height: 33px;
    
    .play-pause {
        display: none;
    }
}

.scrubber .progress {
    background: white;
    opacity: 0.4;
}


.scrubber .loaded {
    background: lighten($dark, 30%);
    color: $dark;
    padding: 1px 2px;
    text-align: center;
    cursor: default;
}

