@import "reset";

body {
    font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
    height: 100%;
}

#extra-ui-text {
    display: none;
}


$accent: rgb(52, 130, 177);
$dark: hsl(0,0,15);


@import "input", "about", "help", "controls", "topbar", "languages", "speedbox", "audiojs", "textbox", "sidebar", "export";

