@import "reset";

body {
    font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
    height: 100%;
}


$accent: rgb(52, 130, 177);
$dark: hsl(0,0,15);


@import "input", "about", "controls", "topbar", "speedbox", "audiojs", "textbox", "sidebar";
