.input {
    width: 100%;
    margin: 0 auto;
	max-height: 0;
	overflow: hidden;
    opacity: 0;
    
	-webkit-transition: max-height 1s, margin 1s, opacity 0.5s;
	-moz-transition: max-height 1s, margin 1s, opacity 0.5s;
	transition: max-height 1s, margin 1s, opacity 0.5s;
    
}

.input.active {
	max-height: 200px;
    margin: 25px auto;
    opacity: 1;
}

#lastfile, #formats {
    color: #BBB;
    font-size: 12px;
    margin: 0 auto 4px auto;
    width: 20%;
    a {
        color: inherit; 
    }
}

#formats.warning {
    transition: color 1s;
    color: darkred;
}


.file-input-wrapper {
    width: 200px;
    padding: 15px;
    overflow: hidden;
    position: relative;
    margin: 20px auto;
    border-radius: 5px;
    border: 0;
    color: white;

    background-color:$accent;
    text-indent:0;    

    &:hover, &.hover {
        background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, lighten($accent, 10%)), color-stop(1, lighten($accent, 5%)) );
        background:-moz-linear-gradient( center top, lighten($accent, 10%) 5%, lighten($accent, 10%) 100% );
    	background-color:#58AFDB;
    }   

}

.btn-file-input i {
    font-size: 40px;
    display: block;
    margin-bottom: 5px;
}



.file-input-wrapper > input[type="file"] {
  font-size: 200px;
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  cursor: pointer;
}
.file-input-wrapper > .btn-file-input {
  display: inline-block;
  width: 200px;
}

.btn-file-input {
        width:auto;
        border:0 none;
        margin:0;
        padding:0;
        background:transparent;
        overflow:visible;
        /* Stupid IE */
        font:14px arial, sans-serif;
        #vertical-align:middle; /* IE6,IE7 */
        
    	text-decoration:none;
    	text-align:center;
    	text-shadow:1px 1px 0px #2b6e8f;
        color:#ffffff;
        font-family:arial;
        font-size:15px;
        font-style:normal;
        
        &::-moz-focus-inner {
            border:0;
            padding:0
        }
}
