.language-picker {
    @include page;
    padding: 20px 0 10px 0;
    box-shadow: 0px 8px 15px rgba(120, 120, 120,.3);
    -webkit-box-shadow: 0px 8px 15px rgba(120, 120, 120,.3);
    width: 100%;
    position: absolute;
    z-index: 1000;
    text-align: center;
    border-bottom: 2px solid $accent;
    
    .language-button {
        display: inline-block;
        padding: 0.6em;
        margin-bottom: 10px;
        width: 22%;
        cursor: pointer;
        border: 1px solid #DDD;
        &:hover {
            background: $accent;
            border-color: $accent;
            color: white;
        };
    }
}