.topbar {
    background: black;
    color: white;
    box-shadow: 0px 0px 10px #666;
    -webkit-box-shadow: 0px 0px 10px #666;
    z-index: 50;
    position: relative;
    font-size: 16px;
    .controls {
        display: inline-block;
    }
    
    &.inputting .controls {
            display: none;
    }
}

.title {
    padding: 10px;
    text-align: left;
    display: inline-block;
    vertical-align: top;
    width: auto;

    background: black;
    color: white;
    border-right: 1px solid #3F3F3F;

    &:hover {
        background-color: #3F3F3F;
        cursor: pointer;
    };
    &.active {
        background: blue;
    }
}
