{
  "presets": [
    ["@babel/preset-env", { "loose": true }]
  ],
  "plugins": [
    ["@babel/plugin-transform-react-jsx", { "pragma": "h", "pragmaFrag": "Fragment" }],
    "@babel/plugin-proposal-class-properties"
  ]
}
