/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
  height: 100%; }

.input {
  width: 100%;
  margin: 0 auto;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  -webkit-transition: max-height 1s, margin 1s, opacity 0.5s;
  -moz-transition: max-height 1s, margin 1s, opacity 0.5s;
  transition: max-height 1s, margin 1s, opacity 0.5s; }

.input.active {
  max-height: 200px;
  margin: 25px auto;
  opacity: 1; }

#lastfile, #formats {
  color: #BBB;
  font-size: 12px;
  margin: 0 auto 4px auto;
  width: 20%; }
  #lastfile a, #formats a {
    color: inherit; }

#formats.warning {
  transition: color 1s;
  color: darkred; }

.file-input-wrapper {
  width: 200px;
  padding: 15px;
  overflow: hidden;
  position: relative;
  margin: 20px auto;
  border-radius: 5px;
  border: 0;
  color: white;
  background-color: #3482b1;
  text-indent: 0; }
  .file-input-wrapper:hover, .file-input-wrapper.hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #4d9ccb), color-stop(1, #3a90c5));
    background: -moz-linear-gradient(center top, #4d9ccb 5%, #4d9ccb 100%);
    background-color: #58AFDB; }

.btn-file-input i {
  font-size: 40px;
  display: block;
  margin-bottom: 5px; }

.file-input-wrapper > input[type="file"] {
  font-size: 200px;
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  cursor: pointer; }

.file-input-wrapper > .btn-file-input {
  display: inline-block;
  width: 200px; }

.btn-file-input {
  width: auto;
  border: 0 none;
  margin: 0;
  padding: 0;
  background: transparent;
  overflow: visible;
  /* Stupid IE */
  font: 14px arial, sans-serif;
  #vertical-align: middle;
  /* IE6,IE7 */
  text-decoration: none;
  text-align: center;
  text-shadow: 1px 1px 0px #2b6e8f;
  color: #ffffff;
  font-family: arial;
  font-size: 15px;
  font-style: normal; }
  .btn-file-input::-moz-focus-inner {
    border: 0;
    padding: 0; }

.about {
  background: #f1f1f1;
  z-index: 200;
  position: relative;
  padding: 40px 0;
  margin-bottom: -100%;
  display: none; }
  .about.active {
    display: block; }
  .about .container {
    width: 850px;
    margin: 0 auto; }
  .about h1 {
    font-size: 50px;
    text-align: center;
    margin-bottom: 20px;
    font-weight: 500;
    color: #3482b1; }
  .about p.lead {
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    margin: 0 auto;
    display: block;
    line-height: 32px; }
  .about ul {
    text-align: center;
    margin: 2em 0 0 0; }
  .about li {
    width: 27%;
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
    height: 6em;
    line-height: 20px;
    text-align: center;
    padding: 0 3%; }
    .about li strong {
      font-weight: 500;
      color: #3482b1; }
  .about a {
    color: inherit; }
    .about a:hover {
      color: #777; }
  .about .credits {
    text-align: center;
    margin-top: 80px; }
    .about .credits .twitter {
      display: inline-block;
      background: #777;
      padding: 5px;
      border-radius: 5px;
      text-decoration: none;
      color: white;
      font-size: 12px;
      margin-right: 10px; }
      .about .credits .twitter:hover {
        background: #5e5e5e; }
    .about .credits p {
      font-size: 14px;
      margin-top: 10px; }
  .about .start {
    display: block;
    padding: 0.7em 1em;
    border-radius: 5px;
    color: white;
    margin: 0 auto;
    width: 11em;
    text-align: center;
    background: grey;
    cursor: default; }
    .about .start.ready {
      cursor: pointer;
      background: #3482b1; }
      .about .start.ready:hover {
        background: #28658a; }
  .about #old-browser {
    width: 400px;
    padding: 0 10px;
    margin: 0 auto;
    color: darkred;
    line-height: 20px;
    margin-top: 20px;
    text-align: center; }

@media (max-width: 850px) {
  .about {
    padding: 40px 10%; }
    .about h1 {
      font-size: 35px; }
    .about p.lead {
      font-size: 18px;
      font-weight: 400;
      line-height: 24px; }
    .about .container {
      width: 100%; }
    .about ul {
      margin: 2em 0; }
    .about li {
      width: auto;
      padding: 3px 0;
      padding-bottom: 5px;
      text-align: left;
      display: block;
      height: auto; }

  #old-browser {
    width: auto; } }
.controls {
  display: none; }
  .controls .button {
    display: inline-block;
    vertical-align: top;
    height: 36px;
    width: 36px;
    text-align: center;
    border-right: 1px solid #3F3F3F;
    background: black;
    color: white;
    padding: 10px 0;
    height: 16px; }
    .controls .button:hover {
      background-color: #3F3F3F;
      cursor: pointer; }

.play-pause.playing .icon-pause {
  display: inline; }
.play-pause.playing .icon-play {
  display: none; }

.play-pause .icon-pause {
  display: none; }
.play-pause .icon-play {
  display: inline; }

.button.refresh {
  border-left: 1px solid #3F3F3F;
  border-right: none; }

.button:after {
  opacity: 0;
  padding-top: 2em;
  color: #000;
  font-size: 9px;
  cusor: default;
  display: block;
  -webkit-transition: opacity 0.25s;
  -moz-transition: opacity 0.25s;
  transition: opacity 0.25s; }

.topbar:hover .button:after {
  opacity: 1; }

.button.play-pause:after {
  content: 'ESC'; }
.button.skip-backwards:after {
  content: 'F1'; }
.button.skip-forwards:after {
  content: 'F2'; }

.topbar {
  background: black;
  color: white;
  box-shadow: 0px 0px 10px #666;
  -webkit-box-shadow: 0px 0px 10px #666;
  z-index: 50;
  position: relative;
  font-size: 16px; }
  .topbar .controls {
    display: inline-block; }
  .topbar.inputting .controls {
    display: none; }

.title {
  padding: 10px;
  text-align: left;
  display: inline-block;
  vertical-align: top;
  width: auto;
  background: black;
  color: white;
  border-right: 1px solid #3F3F3F; }
  .title:hover {
    background-color: #3F3F3F;
    cursor: pointer; }
  .title.active {
    color: black;
    background: #f1f1f1; }
    .title.active:hover {
      background: #DDD; }

.button.speed {
  width: 85px; }
  .button.speed.fixed {
    background: white;
    color: black; }
    .button.speed.fixed .speed-box {
      display: block; }

.speed-box {
  background: black;
  color: white;
  width: 190px;
  padding: 8px 0px 5px 0px;
  z-index: -50;
  position: relative;
  top: 6px;
  cursor: default;
  vertical-align: middle;
  font-size: 13px;
  box-shadow: 0px 0px 10px #666;
  -webkit-box-shadow: 0px 0px 10px #666;
  display: none; }
  .speed-box:hover {
    display: block; }
  .speed-box #slider3 {
    display: inline;
    vertical-align: middle;
    width: 100px; }

.speed:hover > .speed-box {
  display: block; }

.slider-origin {
  height: 25px;
  border-right: 1px solid grey;
  position: relative;
  left: 39px;
  z-index: -50;
  display: inline-block;
  vertical-align: middle; }

/* custom player */
.audiojs {
  font-family: inherit;
  box-shadow: none;
  -webkit-box-shadow: none;
  background: black;
  display: inline-block;
  width: auto;
  height: 33px; }
  .audiojs .play-pause {
    display: none; }

.scrubber .progress {
  background: white; }

.scrubber .loaded {
  background: #333;
  color: grey;
  padding: 1px 2px;
  text-align: center;
  cursor: default; }

#textbox {
  resize: none;
  font-size: 15px;
  line-height: 20px;
  font-family: Arial;
  padding: 5px;
  margin: 50px auto;
  width: 50%;
  display: block;
  border: none;
  padding: 50px 25% 5px 25%;
  outline: none;
  background: white;
  box-shadow: 0px 0px 10px #CCC;
  width: 600px;
  padding: 50px;
  min-height: 700px;
  overflow-y: hidden; }
  #textbox b, #textbox strong {
    font-weight: bold; }
  #textbox i, #textbox em {
    font-style: italic; }
  #textbox .timestamp {
    color: #3482b1;
    border-radius: 5px;
    border-left: 2px solid #3482b1;
    border-right: 2px solid #3482b1;
    padding: 0 3px;
    margin: 0 3px; }
    #textbox .timestamp:hover {
      background: #ebf4f9;
      cursor: pointer; }
    #textbox .timestamp:active {
      background: #c3deee; }

.textbox-container {
  overflow-y: scroll;
  position: relative;
  height: 500px;
  background: #EEE; }

.text-panel {
  position: fixed;
  top: 100px;
  width: 200px;
  padding-left: 20px;
  text-align: left;
  opacity: 0.3;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s; }
  .text-panel .sbutton {
    display: block;
    background: inherit;
    border: none;
    padding: 0;
    margin: 0;
    padding: 5px 0; }
    .text-panel .sbutton i {
      font-size: 20px;
      min-width: 20px;
      text-align: center;
      display: inline-block;
      vertical-align: middle; }
    .text-panel .sbutton .label {
      text-transform: uppercase;
      font-size: 10px;
      padding: 0 5px;
      display: inline-block;
      opacity: 0;
      -webkit-transition: opacity 0.2s;
      transition: opacity 0.2s; }
  .text-panel .wordcount {
    padding: 5px 0;
    font-size: 12px; }
    .text-panel .wordcount:after {
      content: " words";
      opacity: 0;
      -webkit-transition: opacity 0.2s;
      transition: opacity 0.2s; }
  .text-panel:hover {
    opacity: 1; }
    .text-panel:hover .wordcount:after {
      opacity: 1; }
    .text-panel:hover .sbutton .label {
      opacity: 0.5; }
