/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: Arial;
  height: 100%; }

.input {
  width: 100%;
  margin: 0 auto;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 1s, margin 1s;
  -moz-transition: max-height 1s, margin 1s;
  transition: max-height 1s, margin 1s; }

.input.active {
  max-height: 200px;
  margin: 25px auto; }

#lastfile, #formats {
  color: #BBB;
  font-size: 12px;
  margin: 0 auto 4px auto;
  width: 20%; }
  #lastfile a, #formats a {
    color: inherit; }

.file-input-wrapper {
  width: 200px;
  height: 40px;
  overflow: hidden;
  position: relative;
  margin: 20px auto;
  background: #33B3F4;
  border-radius: 5px;
  border: 0;
  color: white;
  box-shadow: inset 0px 1px 2px 1px #2b9fd9;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #33b4f4), color-stop(1, #2b9fd9));
  background: -moz-linear-gradient(center top, #33b4f4 5%, #2b9fd9 100%);
  background-color: #33b4f4;
  text-indent: 0;
  border: 1px solid #33b4f4; }
  .file-input-wrapper:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #7fcef5), color-stop(1, #58afdb));
    background: -moz-linear-gradient(center top, #33b4f4 5%, #2b9fd9 100%);
    background-color: #58AFDB; }

.file-input-wrapper > input[type="file"] {
  font-size: 200px;
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  cursor: pointer; }

.file-input-wrapper > .btn-file-input {
  display: inline-block;
  width: 200px;
  height: 40px; }

.btn-file-input {
  width: auto;
  border: 0 none;
  margin: 0;
  padding: 0;
  background: transparent;
  overflow: visible;
  /* Stupid IE */
  font: 14px arial, sans-serif;
  #vertical-align: middle;
  /* IE6,IE7 */
  text-decoration: none;
  text-align: center;
  text-shadow: 1px 1px 0px #2b6e8f;
  color: #ffffff;
  font-family: arial;
  font-size: 15px;
  font-style: normal; }
  .btn-file-input::-moz-focus-inner {
    border: 0;
    padding: 0; }

.about {
  font-family: "Helvetica Neue";
  background: #f1f1f1;
  z-index: 200;
  position: relative;
  padding: 40px 0;
  margin-bottom: -100%;
  display: none; }
  .about.active {
    display: block; }
  .about .container {
    width: 850px;
    margin: 0 auto; }
  .about h1 {
    font-size: 50px;
    text-align: center;
    margin-bottom: 20px;
    font-weight: 500;
    color: #3482b1; }
  .about p.lead {
    font-size: 25px;
    font-weight: 300;
    text-align: center;
    width: 65%;
    margin: 0 auto;
    display: block;
    line-height: 32px; }
  .about ul {
    text-align: center;
    margin: 2em 0 0 0; }
  .about li {
    width: 27%;
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
    height: 6em;
    line-height: 20px;
    text-align: center;
    padding: 0 3%; }
    .about li strong {
      font-weight: 500;
      color: #3482b1; }
  .about a {
    color: inherit; }
    .about a:hover {
      color: #777; }
  .about .close {
    display: block;
    background: #3482b1;
    padding: 0.7em 1em;
    border-radius: 5px;
    color: white;
    margin: 0 auto;
    width: 11em;
    text-align: center;
    cursor: pointer; }
    .about .close:hover {
      background: #28658a; }

@media (max-width: 850px) {
  .about h1 {
    font-size: 35px; }
  .about p.lead {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px; }
  .about .container {
    width: 100%; }
  .about ul {
    margin: 2em 0; }
  .about li {
    width: auto;
    padding: 3px 10%;
    padding-bottom: 5px;
    text-align: left;
    display: block;
    height: auto; } }
.controls {
  display: none; }
  .controls .button {
    display: inline-block;
    vertical-align: top;
    height: 36px;
    width: 36px;
    text-align: center;
    border-right: 1px solid #3F3F3F;
    background: black;
    color: white;
    padding: 10px 0;
    height: 16px; }
    .controls .button:hover {
      background-color: #3F3F3F;
      cursor: pointer; }

.play-pause.playing .icon-pause {
  display: inline; }
.play-pause.playing .icon-play {
  display: none; }

.play-pause .icon-pause {
  display: none; }
.play-pause .icon-play {
  display: inline; }

.button:after {
  opacity: 0;
  padding-top: 2em;
  color: #000;
  font-size: 9px;
  cusor: default;
  display: block;
  -webkit-transition: opacity 0.25s;
  -moz-transition: opacity 0.25s;
  transition: opacity 0.25s; }

.topbar:hover .button:after {
  opacity: 1; }

.button.play-pause:after {
  content: 'ESC'; }
.button.skip-backwards:after {
  content: 'F1'; }
.button.skip-forwards:after {
  content: 'F2'; }

.topbar {
  background: black;
  color: white;
  box-shadow: 0px 0px 10px #666;
  -webkit-box-shadow: 0px 0px 10px #666;
  z-index: 50;
  position: relative;
  font-size: 16px; }
  .topbar .controls {
    display: inline-block; }
  .topbar.inputting .controls {
    display: none; }

.title {
  padding: 10px;
  text-align: left;
  display: inline-block;
  vertical-align: top;
  width: auto;
  background: black;
  color: white;
  border-right: 1px solid #3F3F3F; }
  .title:hover {
    background-color: #3F3F3F;
    cursor: pointer; }
  .title.active {
    color: black;
    background: #f1f1f1; }
    .title.active:hover {
      background: #DDD; }

.button.speed {
  width: 85px; }
  .button.speed.fixed {
    background: white;
    color: black; }
    .button.speed.fixed .speed-box {
      display: block; }

.speed-box {
  background: black;
  color: white;
  width: 190px;
  padding: 8px 0px 5px 0px;
  z-index: -50;
  position: relative;
  top: 6px;
  cursor: default;
  vertical-align: middle;
  font-size: 13px;
  box-shadow: 0px 0px 10px #666;
  -webkit-box-shadow: 0px 0px 10px #666;
  display: none; }
  .speed-box:hover {
    display: block; }
  .speed-box #slider3 {
    display: inline;
    vertical-align: middle;
    width: 100px; }

.speed:hover > .speed-box {
  display: block; }

.slider-origin {
  height: 25px;
  border-right: 1px solid grey;
  position: relative;
  left: 39px;
  z-index: -50;
  display: inline-block;
  vertical-align: middle; }

/* custom player */
.audiojs {
  font-family: inherit;
  box-shadow: none;
  -webkit-box-shadow: none;
  background: black;
  display: inline-block;
  width: auto;
  height: 33px; }
  .audiojs .play-pause {
    display: none; }

.scrubber .progress {
  background: white; }

.scrubber .loaded {
  background: #333; }

#textbox {
  resize: none;
  font-size: 15px;
  line-height: 20px;
  font-family: Arial;
  padding: 5px;
  margin: 50px auto;
  width: 50%;
  display: block;
  border: none;
  padding: 50px 25% 5px 25%;
  outline: none;
  background: white;
  box-shadow: 0px 0px 10px #CCC;
  width: 600px;
  padding: 50px;
  min-height: 700px;
  overflow-y: hidden; }
  #textbox b, #textbox strong {
    font-weight: bold; }
  #textbox i, #textbox em {
    font-style: italic; }
  #textbox .timestamp {
    color: blue; }
    #textbox .timestamp:hover {
      background: lightblue;
      cursor: pointer; }

.textbox-container {
  overflow-y: scroll;
  position: relative;
  height: 500px;
  background: #EEE; }
