<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>oTranscribe</title>
    <%= require('html-loader?{"sources":false,"esModule":false}!./html/meta-tags.htm') %>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <link rel="prefetch" type="application/l10n" href="data.ini" />
</head>
<body>
    
    <script type="text/javascript" src="l10n.js"></script>
    <%= require('html-loader?{"sources":false,"esModule":false}!./html/topbar.htm') %>
    <%= require('html-loader?{"sources":false,"esModule":false}!./html/about.htm') %>
    <%= require('html-loader?{"sources":false,"esModule":false}!./html/textbox.htm') %>
    <%= require('html-loader?{"sources":false,"esModule":false}!./html/settings.htm') %>
    <link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.css" rel="stylesheet">
    
</body>
</html>