@mixin page {
    @include noselect(text);
    color: $dark;
        
    background: $grey;
    z-index: 200;
    position: relative;
    padding: 40px 0;

    margin-bottom: -100%; // pushes editing area up
    
    display: none;
    &.active {
        display: block;
    }
    
    .container {
        width: 850px;
        margin: 0 auto;
    }
    

}

.about {
        
    @include page;    
    
    h1 {
        font-size: 50px;
        text-align: center;
        margin-bottom: 20px;
        
        color: $accent;
    }
    
    p.lead {
        font-size: 20px;
        text-align: center;
        margin: 0 auto;
        display: block;
        line-height: 32px;
    }
                
    ul {
        text-align: center;
        margin: 2em 0 0 0;
    }
    
    li {
        width: 18%;
        display: inline-block;
        vertical-align: top;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        padding: 0 3%;     
        padding-bottom: 25px;
        
        strong {
            font-weight: bold;
            color: $accent;
            
        }
    }
    
    a {
        color: inherit;
        &:hover {
            color: #777;
        };
    }
    
    .press {
        color: $accent;
        font-weight: bold;
        text-align:center;
        padding: 0;
        p {
            font-size: 20px;
            padding-bottom: 10px;
        }
        a {
            display: inline-block;
            width: 33%;
            vertical-align: middle;
            opacity: 0.6;
            &:hover {
                opacity: 1;
            };
        }
        img {
            width: 80%;
        }
    }
    
    .credits {
        text-align: center;
        margin-top: 40px;
        
        .twitter {
            display: inline-block;
            background: #777;
            padding: 5px;
            border-radius: 5px;
            text-decoration: none;
            color: white;
            font-size: 12px;
            margin-right: 10px;
            
            &:hover{
                background: darken(#777, 10%);
            };
        }
        p {
            font-size: 14px;
            margin-top: 10px;
        }
    }
    
    .start {
        display: block;
        padding: 0.7em 1em;
        border-radius: 5px;
        color: white;
        margin: 0 auto;
        margin-top: 20px;
        width: 14em;
        text-align: center;
        background: grey;
        cursor: default;
        font-size: 21px;
        .start-loading { display: inline; }
        .start-ready { display: none; }             
        &.ready {
            cursor: pointer;
            background: $accent;
            &:hover {
                background: darken($accent, 10%);
            }
            .start-loading { display: none; }
            .start-ready { display: inline; }             
        }
    }
    
    #old-browser, .mobile {
        width: 400px;
        max-width: 98%;
        padding: 0;
        margin: 0 auto;
        color: darkred;
        line-height: 20px;
        margin-top: 20px;
        text-align: center;
    }
    .mobile {
        display: none;
    }
    
}


@media (max-width: 850px) {
    .about {    
        padding: 40px 10%;

        h1 {
            font-size: 35px;
        
        }
        p.lead {
            font-size: 18px;
            font-weight: bold;
            line-height: 24px; 
        }
        .container {
            width: 100%;
        }
        ul {
            margin: 2em 0; 
        }
        li {
            width: auto;
            padding: 3px 0; 
            padding-bottom: 5px;
            text-align: left;
            display: block;
            height: auto;        
        }    
        .press {
            text-align: left;
            padding-top: 0;
            p {
                padding-bottom: 20px;
                font-size: inherit;
            }
            a {
                width: 100%;
                img {
                    max-width: 225px;
                }
            }
        }
        .start {
            width: 80%;
        }
        .credits{
            a {
                margin-right: 0;
            }
            span {
                display: block;
                padding-top: 10px;
            }
        }
    }
        
    #old-browser {
        width: auto;
    }
    
    .about .mobile {
        display: block;
    }
}

