
/* custom player */

.audiojs {
    font-family: inherit;
    box-shadow: none;
    -webkit-box-shadow: none;
    background: $dark;
    display: inline-block;
    width: auto;
    height: 33px;
    
    .play-pause {
        display: none;
    }
    
    .time {
        border-color: lighten($dark, 10%);
    }
    
    .scrubber {
        border: none;
    }
}

.scrubber .progress {
    background: white;
    opacity: 0.3;
}


.scrubber .loaded {
    background: lighten($dark, 15%);
    color: lightgrey;
    padding: 1px 2px;
    text-align: center;
    cursor: default;
}

