@use "sass:color";
@use "variables" as *;
@forward "reset";
@forward "input";
@forward "about";
@forward "help";
@forward "controls";
@forward "topbar";
@forward "languages";
@forward "speedbox";
@forward "audiojs";
@forward "textbox";
@forward "message-panel";
@forward "sidebar";
@forward "export";
@forward "backup";
@forward "settings";
@forward "font-awesome-fallback";

body {
    @include noselect(none);
    font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
    height: 100%;
    background: $grey;
}
#extra-ui-text {
    display: none;
}
