
.controls {
    display: none; // default state
    
    .button {
        display: inline-block;
        vertical-align: top;
        height: 36px;
        width: 36px;
        text-align: center;
        border-right: 1px solid lighten($dark, 10%);
        background: $dark;
        color: white;
    
        padding: 10px 0;
        height: 16px;
        
        &:hover {
            background-color: lighten($dark, 10%);
            cursor: pointer;
        };
    }
}

.play-pause.playing {
    .fa-pause {
        display: inline;
    }
    .fa-play {
        display: none;
    }
}
.play-pause {
    .fa-pause {
        display: none;
    }
    .fa-play {
        display: inline;
    }
}

.button.refresh {
    border-left: 1px solid lighten($dark, 10%);
}


.button:after {
    opacity: 0;
    padding-top: 2em;
    color: #000;
    font-size: 9px;
    cusor: default;
    display: block;
    
	-webkit-transition: opacity 0.25s;
	-moz-transition: opacity 0.25s;
	transition: opacity 0.25s;
    
}

.topbar:hover .button:after {
//    display: block;
    opacity: 1;
}

.button {
    &.play-pause:after {
      content: 'ESC';
    }
    &.skip-backwards:after {
      content: 'F1';
    }
    &.skip-forwards:after {
      content: 'F2';
    }
}

video#media, iframe#media {
    position: absolute;
    top: 55px;
    left: 20px;
    width: 200px;
    box-shadow: 0px 0px 5px black;
    background: $dark;
}

.progressor {
    display: inline-block;
    min-width: 100px;
    height: 14px;
    margin: 10px;
    color: lightgrey;
    background: lighten($dark, 15%);
    text-align: center;
    cursor: default;
    font-size: 13px;
    padding-top: 2px;
    overflow: hidden;
}

.progressor-progress {
    background: white;
    background: grey;
}

.media-title {
    display: inline-block;
    padding: 11px 0;
    color: lightgrey;
    text-align: center;
    font-size: 14px;
    border-right: 1px solid lighten($dark, 10%);
}

#player-time {
    display: inline-block;
    font-size: 13px;
    padding: 11px 0;
    width: 80px;
    border-left: 1px solid lighten($dark, 10%);
    border-right: 1px solid lighten($dark, 10%);
    vertical-align: top;
    text-align: right;
    padding-right: 10px;
}