.separate-page {
        

    @include page;

    display: block;
    
    h1 {
        font-size: 3em;
        margin: 0.3em 0 0 0;
    }
    
    p, ul, ol {
        margin-top: 1em;
    }
    
    h2, h3 {
        margin-top: 1.4em;
    }
    
    h2 {
        font-size: 1.4em;
        margin-top: 1.8em;
        position: relative;
        small {
            font-size: 0.8em;
            font-weight: normal;
        }
        &:hover {
            .permalink {
                display: inline-block;
            }
        }
        .permalink {
            display: none;
            margin-left: 0.25em;
            color: inherit;
            text-decoration: none;
            opacity: 0.5;
            &:hover {
                opacity: 1;
            }
            &:visited {
                color: inherit;
            }
            
        }
    }
    
    strong, h2, h3 {
        font-weight: bold;
    }
    
    li {
        list-style-type: disc;
        margin-left: 2em;
    }
    
    p, li {
        line-height: 1.3em;
    }
    
    .container {
        max-width: 600px;
    }
    
    a {
        color: $accent;
        &:visited {
            color: darken($accent, 30%);
        }
    }
    
    #close-help {
        color: $accent;
        text-decoration: none;
        font-size: 1em;
        &:hover {
            text-decoration: underline;
        };
    }
    
    .row {
        padding:20px;
        margin: 20px 0;
        background:#e1e1e1;
        border-radius: 4px;
        h2 {
            margin: 0;
        }
    }

    .button {
        @include button;
        display: inline-block;
        padding: 8px;
        text-decoration: none !important;
        color: white !important;
    }
    
}

@media (max-width: 850px) {

    .separate-page {

        padding: 0;    
        .container {
            width: auto;
            padding: 5%;
        }
    }

}