.input {
    width: 100%;
    margin: 0 auto;
	max-height: 0;
	overflow: hidden;
    opacity: 0;
    
	-webkit-transition: max-height 1s, margin 1s, opacity 0.5s;
	-moz-transition: max-height 1s, margin 1s, opacity 0.5s;
	transition: max-height 1s, margin 1s, opacity 0.5s;
    
}

.input.active {
    max-height: 300px;
    margin: 25px auto;
    opacity: 1;
}

#lastfile, #formats {
    color: #BBB;
    font-size: 12px;
    margin: 0 auto 4px auto;
    width: 20%;
    a {
        color: inherit; 
    }
}

#lastfile .media-reload {
    color: $accent;
    cursor: pointer;
}

#lastfile .media-reload:hover {
    text-decoration: underline;
};

#formats.warning {
    transition: color 1s;
    color: darkred;
}

@mixin custom-file-selector {
    position: relative;
    overflow: hidden;
    & > input[type="file"] {
      font-size: 200px;
      position: absolute;
      top: 0;
      right: 0;
      opacity: 0;
      cursor: pointer;
    }
}

.file-input-wrapper {
    @include button;
    width: 200px;
    padding: 15px;
    overflow: hidden;
    position: relative;
    margin: 20px auto 5px auto;
    border: 0;

    text-indent:0;    
    
    @include custom-file-selector;

}

.btn-file-input i {
    font-size: 40px;
    display: block;
    margin-bottom: 5px;
}



.file-input-wrapper > .btn-file-input {
  display: inline-block;
  width: 200px;
}

.btn-file-input {
        width:auto;
        border:0 none;
        margin:0;
        padding:0;
        background:transparent;
        overflow:visible;
        /* Stupid IE */
        font:14px arial, sans-serif;
//        #vertical-align:middle; /* IE6,IE7 */
        
    	text-decoration:none;
    	text-align:center;
    	text-shadow:1px 1px 0px #2b6e8f;
        color:#ffffff;
        font-family:arial;
        font-size:15px;
        font-style:normal;
        
        &::-moz-focus-inner {
            border:0;
            padding:0
        }
}

.alt-input-button {
    @include button;
    margin: 0 auto 20px auto;
    padding: 10px;
    font-size: 14px;
    display: block;
    border: 0;
    width: 230px;    
}

.ext-input-field {
    width: 30%;
    margin: 0 auto;  
    background: $dark;
    border-radius: 3px;
    padding: 8px;
    margin-bottom: 20px;
    display: none;
    position: absolute;
    top: 60px;
    left: 35%;
    box-shadow: 0 0 5px grey;
    text-align: center;
    label {
        color: white;
        font-size: 14px;
    }
    input {
        width: 100%;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        display: block;
        font-size: 14px;
        font-family: inherit;
        padding: 3px;
        margin-top: 8px;
    }
    .close-ext-input {
        float: right;
        color: white;
        cursor: pointer;
        opacity: 0.5;
        &:hover {
            opacity: 1;
        };
    }
    .ext-input-warning {
        color: white;
        text-align: left;
        font-size: 12px;
        padding-top: 5px;
        display: none;
    }
}

.ext-input-active {
    .file-input-wrapper,
    .alt-input-button,
    #lastfile,
    #formats {
        opacity: 0.2;
        pointer-events: none;
    }
}
