.settings-panel {
    max-width: 800px;
    margin: 30px auto;
    h2 {
        font-size: 32px;
        font-weight: 300;
        margin-bottom: 20px;
    }

    h3 {
        font-size: 24px;
        font-weight: 300;
        margin-bottom: 20px;
    }
}

.keyboard-shortcuts {
    li {
        line-height: 3em;
        display: flex;
    }
    .shortcut-name {
        width: 20%;
        min-width: 200px;
    }
    .shortcut-combos {

    } 
    .key-combo, .add-combo {
        cursor: default;
        display: inline-block;
        white-space: nowrap;
        font-size: 14px;
        border: 1px solid black;
        border-radius: 2px;
        padding: 0px 4px;
        margin-right: 5px;
        line-height: 21px;
        background: $dark;
        color: white;
    }
    .remove-combo {
        font-size:8px;
        background: white;
        color: black;
        border-radius: 100%;
        width: 12px;
        height: 12px;
        display: inline-block;
        line-height: 0;
        vertical-align: top;
        cursor: pointer;
        margin-left: 4px;
    }
    .add-combo {
        cursor: pointer;
        background: $grey;
        color: black;
        &:hover {
            background: $dark;
            color: white;
        }
        &.listening {
            cursor: default;
            background: $grey;
            color: black;
            pointer-events: none;
        }
    }
}