.settings-panel {
    max-width: 800px;
    margin: 30px auto;
    h2 {
        font-size: 32px;
        font-weight: 300;
        margin-bottom: 20px;
    }

    h3 {
        font-size: 24px;
        font-weight: 300;
        margin-bottom: 20px;
    }
}