
.button.speed {
    width:auto;
    padding-left: 10px;
    padding-right: 10px;
    &.fixed {
        background: white;
        color: $dark;
        .speed-box {
            display: block;
        }
    }
}

.speed-box {
    background: $dark;
    color: white;
    width: 190px;
    padding: 8px 0px 5px 0px;
    z-index: -50;
    cursor: default;
    vertical-align: middle;
    font-size: 13px;
    box-shadow: 0px 0px 10px #666;
    -webkit-box-shadow: 0px 0px 10px #666;
    text-transform: uppercase;
    
    position: absolute;
    top: 36px;
    left: 214px;
    
    
    display: none;
    &:hover {
        display: block;
    };
        
    .speed-slider {
        display: inline;
        vertical-align: middle;
        width: 120px;
    }    
    
}

.speed:hover > .speed-box {
    display: block;
}

.slider-origin {
    height: 24px;
    border-right: 1px solid grey;
    position: relative;
    left: 39px;
    left: 44px;
    z-index: -50;
    display: inline-block;
    vertical-align: middle;
}


