#textbox {
    @include noselect(text);
    resize: none;
    
    font-size: 15px;
    line-height: 20px;
    font-family: Arial;
    padding: 5px;
    margin: 50px auto;
    width: 50%;
    display: block;
    border: none;
    padding: 50px 25% 5px 25%;
    outline: none;
    
    background: white;
    box-shadow: 0px 0px 10px #CCC;
    width: 600px;
    padding: 50px;
    min-height: 700px;
    overflow-y: hidden;
    
    color: $dark;
    
    b, strong {
        font-weight: bold;
    }
    i, em {
        font-style: italic;
    }
    
    .timestamp {
        color: $accent;
        border-radius: 5px;
        border-left: 2px solid $accent;
        border-right: 2px solid $accent;
        padding: 0 3px;
        margin: 0 3px;
        &:hover {
            background: lighten($accent, 50%);
            cursor: pointer;
        }
        &:active {
            background: lighten($accent, 40%);
        };
    }
}

.textbox-container {
    overflow-y: scroll;
    position: fixed;
    height: calc(100% - 36px);
    background: #eee;
    top: 36px;
    width: 100%;
}

