.topbar {
    background: $dark;
    color: white;
    box-shadow: 0px 0px 10px #666;
    -webkit-box-shadow: 0px 0px 10px #666;
    z-index: 50;
    position: relative;
    font-size: 16px;
    display: flex;

    &.inputting .controls {
        display: none;
    }
    
    &.inputting .help-title {
        border-right: 1px solid lighten($dark, 10%);        
    }
}

@mixin title-button {
    padding: 10px;
    text-align: left;
    display: inline-block;
    vertical-align: top;
    width: auto;

    background: $dark;
    color: white;

    i {
        font-size: 0.90em;
    }


    &:hover {
        background-color: lighten($dark, 10%);
        cursor: pointer;
    };
    &.active {
        color: $dark;
        background: rgb(241, 241, 241);
        &:hover {
            background: #DDD;
        }
    }
    &:active {
        background-color: darken($dark, 10%);
    };
    
    
}

.title {
    @include title-button;
    border-right: 1px solid lighten($dark, 10%);
    
}

.help-title {
    @include title-button;
    border-right: 1px solid lighten($dark, 10%);
    text-decoration: none;
}

.language-title {
    @include title-button;    
    i {
        font-size: 0.90em;
    }
}

.settings-button {
    @include title-button;    
    border-left: 1px solid lighten($dark, 10%);
    border-right: 1px solid lighten($dark, 10%);
    align-self: flex-end;
}
